<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="css/boostrap.min.css" rel="" type="" href="">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
            <ul class="nav nav-pills menu1">
                    <li role="presentation"  class="btn1"><a href="/">Home</a></li>
                    <li role="presentation" class="btn1"><a href="/ah">Ayumi</a></li>
                    <li role="presentation"  class="btn1"><a href="/mc">Mad Clown</a></li>
                    <li role="presentation"  class="btn1"><a href="/bp">Black Pink</a></li>
                    <li role="presentation"  class="btn1"><a href="/ty">Taeyang</a></li>
                    
            </ul>
            <br>
    </body>
        </html>
        

