

<% include ../parts/01-up %>


<h1>Taeyang</h1>
<img class="bor1" src="../img/sing4.jpg" alt="miss pic">
<br><br>

<iframe class="bor1" width="560" height="315" src="https://www.youtube.com/embed/qIt6KCwlFPw?rel=0" frameborder="0" allowfullscreen></iframe>


<% include ../parts/02-dw %>
